// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

:root{
    --names-family:'The Girl Next Door', cursive;
    --casual-family: 'IBM Plex Serif', serif;
    --gold-color: #E1B131;
    --dark-gold:#B78019;
    --salad-green:#AFB95D;
    --dark-salad:#5D5002;
    --light-gold: #F6EA70;
    --dark-gray:#d9d4bd;
    --gold-shadow:#CDA941;
}
.bold {
    font-weight: 800;
}
.message{
    background-color: var(--gold-color);
    padding:10px;
    display:flex;
    justify-content: center;
    font-size: 15px;
}
.messages{
    background-color: var(--light-gold);
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    div{
        width: 100%;
        padding:5px 10px;
        text-align: center;
        border-bottom: var(--dark-salad) 1px solid;
        color: #DC3545;
    }
}
.amount-input{
    width: 60px;
    height:40px;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    &:focus{
        --tw-ring-color: none;
        border:none;
        border: var(--dark-salad) 2px solid;
    }
}
.small-dish-img{
    height: 80px;
    width: 80px;
    object-fit: cover;
    object-position: center;
}
.modal-box{
    width:100%;
    height:100%;
    background-color: rgba(153, 153, 153, 0.167);
    position: fixed;
    z-index: 999;
    top:0;
    left:0;
    display:flex;
    justify-content: center;
    align-items: center;
        .modal-mine{
            display:block;
            padding: 50px 80px;
            border-radius: 30px;
            background-color: var(--gold-shadow);
            border: solid black 3px;
            .modal-content{
                .modal-header{
                    border-bottom: solid black 1px;
                    .modal-title{
                        font-size: 25px;
                        font-family: var(--names-family);
                        font-weight: 800;
                    }
                    button{
                        font-size: 30px;
                        position: absolute;
                        z-index: 1000;
                        top: -30px;
                        right: -40px;
                    }
                }
                .modal-body{
                    font-family: var(--casual-family);
                    margin-bottom: 20px;
                    margin-top: 10px;
                    p, .modal-radios{
                        font-size: 15px;
                        margin-bottom:10px;
                    }
                    .delivery-form{
                        margin-top: 10px;
                        font-style: italic;
                        h5{
                            font-style: normal;
                        }
                        .label-input{
                            display:grid;
                            grid-template-columns: 0.6fr 1fr;
                            align-items: center;
                            .telNr-input-box{
                                span{
                                    margin-right:5px;
                                }
                            }
                            label{
                                padding-right: 5px;
                            }
                            input, textarea{
                                border-radius: 5px;
                                padding: 3px 9px;
                                box-sizing: border-box;
                                &:focus{
                                    --tw-ring-color: none;
                                    --tw-ring-shadow: none;
                                    border: 1px #6b7280 solid;
                                    box-shadow: 0 0 0 2px var(--dark-salad);
                                    outline-offset:0;
                                }
                            }
                            textarea{
                                resize: none;
                                height: 150px;
                                &::placeholder{
                                    font-style: italic;
                                    font-family: var(--casual-family);
                                }
                            }
                            .text-input{
                                width: 200px
                            }
                            .number-input{
                                width:100px;
                            }
                        }
                    }
                }
            }
        }  
}
button, a:not(.restaurant-have-dish){
    text-transform: uppercase;
}
nav{
    background-color: #784124;
    box-shadow: 0 2px 8px var(--gold-shadow);
    .nav-logo{
        width: 80px;
        height:80px;
        fill:var(--gold-color);
    }
    .nav-link{
        font-size: 30px;
        padding-top: 10px;
        font-family: var(--names-family);
        color: var(--gold-color);
        &:hover{
            color:var(--dark-gold);
        }
    }
    .nav-dropdown, .nav-cart-link{
        display: flex;
        align-items: center;
        padding: 0 10px;
        background-color: var(--salad-green);
        font-size: 15px;
        height:100%;
        color: var(--dark-salad);
        border-right: var(--dark-salad) solid 1px;
        &:hover{
            color:var(--salad-green);
            background-color: var(--dark-salad);
        }
    }
    .nav-cart-link-box{
        .nav-cart-link{
            color: var(--dark-salad);
            text-decoration: none;
            &:hover{
                color:var(--salad-green);
            }
        }
    }
    .nav-dropdown{
        .dropdown-content{
            background-color: var(--dark-salad);
            left:50%;
            transform: translateX(-50%);
            padding: 10px 0;
            width: auto;
            .dropdown-link{
                text-transform: capitalize;
                padding: 10px 30px;
                width:100%;
                &:hover{
                background-color: var(--salad-green);
                color:var(--dark-salad)

                }
            }
        }
    }
}

.card{
    box-shadow: 2px 2px 8px var(--gold-shadow);
    background-color: var(--light-gold);
}
.card-header{
    display:flex;
    justify-content: center;
    background-color: transparent;
    padding: 30px 0 0;
    border: none;
    font-family: var(--names-family);
    font-weight: 700;
    h2{
        font-size: 50px;
    }
    h3{
        font-size: 30px;
    }
}

.restaurant-list-front{
    background-color: #FCC9A3;
    background-image: url('./../../public/images/food.jfif');
    .restaurant-list{
        .restaurant-list-grid{
            display:grid;
            grid-template-columns: 1.5fr 1fr 1fr 2fr 1fr;
            border-bottom: var(--dark-salad) 1px solid;
            &:not(.headings){
                grid-template-rows: 70px;
                align-items: center;
                li:not(.restaurant-name, .controls){
                    font-family: var(--casual-family);
                    font-weight: 400;
                    letter-spacing: 0.5px;
                }
                &:hover{
                    background-color: var(--gold-color);
                }
            }
            &.headings{
                align-items: end;
                padding-bottom: 15px;
                font-weight: 600;
                font-size: 17px;
            }
            li{
                padding-left:10px;

            }
            .restaurant-name{
                font-family: var(--names-family);
                font-size: 20px;
                font-weight: 500;
            }
        }
    }
}
.dishes-list{
    background-color: var(--light-gold);
    .dish-list-grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        padding-left:0;
        .one-dish{
            padding-left:0;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-around;
            gap: 3px;
            align-items: center;
            .img{
                height: 250px;
                width:250px;
                object-fit: cover;
                object-position: center;
            }
            .dish-name{
                font-family: var(--names-family);
                font-size: 20px;
                margin-top: 10px;
            }
            li:not(.dish-name){
                font-family: var(--casual-family);
            }
            li{
                text-align: center;
            }
            .restaurant-have-dish{
                color:black;
                text-decoration: none;
                font-style: italic;
                .tootlip{
                    display:block;
                    position: absolute;
                    background-color: var(--dark-gray);
                    visibility:hidden;
                    // border: var(--dark-salad) 1px solid;
                    padding: 3px 6px;
                    font-size: 12px;
                    // font-family: Nunito, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
                }
                &:hover{
                    cursor: pointer;
                    background-color: var(--gold-color);
                    .tootlip{
                        visibility: visible;
                    }
                }
            }
            .comma{
                margin-right: 4px;
            }
        }
    }
}
.sort-filter-search{
    background-color: var(--gold-color);
    box-shadow: 0px 0px 4px 1px var(--gold-shadow);
    padding: 30px;
    max-width: 700px;
    .card-header{
        padding: 0;
        transition: all 0.2s linear;
        &:hover{
            cursor: pointer;
            .sfs-chevron{
                transform: scale(1.1);
            }
        }
    }
    .sort-filter{
        display:flex;
        justify-content: space-between;
    }
    .sort-select, .filter-select, .search-input {
        width:auto;
        border-radius: 10px;
        border: #999 1px solid;
        padding: 7px;
        font-size: 15px;
    }
    .sort-select, .filter-select{
        &:focus{
            --tw-ring-color: none;
            --tw-ring-shadow: none;
            border: var(--dark-salad) 2px solid;
        }
    }
    .search-input {
        width:calc(200px + 10vw);
        &:focus{
            outline: var(--dark-salad) 2px solid;
        }
    }
}
.one-restaurant-dishes{
    .about-restaurant{
        
        background-color: var(--salad-green);
        box-shadow: 0px 0px 4px 1px var(--gold-shadow);
        padding: 20px;
        border-radius: 10px;
        h2{
            font-weight: 800;
        }
        .restaurant-info{
            display:flex;
            flex-direction: column;
            align-items: center;
            gap:10px;
            text-align: center;
            font-family: var(--casual-family);
            p{
                font-family: var(--names-family);
                letter-spacing: 1.5px;
                font-size: 18px;
            }
        }              
    }
    .one-dish{
        .form{
            display:flex;
            gap:5px;
        }
    }
}
.cart, .order{
    .cart-restaurant, .order-restaurant{
        margin-bottom: 30px;
        padding:1vw 2vw;
        .cart-grid{
            display:grid;
            grid-template-columns: repeat(6, 1fr);
            justify-items: center;
            align-items: center;
            border-bottom: var(--dark-salad) 1px solid;
            &:not(.bold){
                margin-bottom: 0;
                padding: 10px;
            }
        }
        .grid-for-extra{
            display:grid;
            grid-template-columns: 3fr repeat(3, 1fr);
            justify-items: center;
            align-items: center;
            margin-bottom: 0;
            margin-top: 10px;
        }
        .grid-for-extra:not(.bold){
            display:grid;
            grid-template-columns: 3fr repeat(2, 1fr);
            justify-items: center;
            align-items: center;
            margin-bottom: 0;
            margin-top: 10px;
        }
    }
}
.order{
    font-size: calc(10px + 0.3vw);
    .order-card-header{
        padding:1.5vw;
        width:100%;
        display:flex;
        justify-content: space-between;
        align-items: center;
        font-family: var(--casual-family);
        font-size: calc(10px + 0.3vw);
        .created-updated{
            font-style: italic;
            box-shadow: 0 0 2px 2px var(--gold-shadow);
            padding: 3px;
        }
        .right-corner{
            box-shadow: 0 0 2px 2px var(--gold-shadow);
            padding: 3px;
            .status{
                font-size: calc(12px + 0.3vw);
                text-transform: uppercase;
            }
            .delivery-choice{
                width:fit-content;
                text-decoration: underline;
            }
        }
        .middle{
            display:flex;
            gap: 10px;
            align-items: center;
            padding: 0 10px;
            h3{
                text-align: center;
                font-size: calc(10px + 2vw);
                font-family: var(--names-family) !important;
                font-weight: 800;
            }
        }
    
        transition: all 0.2s linear;
            &:hover{
                cursor: pointer;
                .sfs-chevron{
                    transform: scale(1.1);
                }
            }
    }
    .order-delivery-info-box{
        display: flex;
        gap: 15px;
        align-items: center;
        padding: 5px;
        margin-bottom:20px;
        border: var(--dark-salad) 1px solid;
        padding: 10px 20px;
        width: fit-content;
    }
    .order-grid{
        display:grid;
        grid-template-columns: 1.5fr repeat(4, 1fr);
        justify-items: center;
        align-items: center;
        border-bottom: var(--dark-salad) 1px solid;
        &:not(.bold){
            margin-bottom: 0;
            padding: 10px;
        }
        li{
            padding: 0 3px;
        }

    }
    .grid-item-invoice{
        grid-row-start: 1;
        grid-row-end: span 2;
        justify-self: start;
        .invoice-svg-box{
            &:hover{
                cursor: pointer;
                transform: scale(1.1);
            }
        }
    }
}
svg{
    .st0{
        fill-rule:evenodd;
        clip-rule:evenodd;
        fill:#262626;
    } 
    .st1{
        fill-rule:evenodd;
        clip-rule:evenodd;
        fill:#FF0000;
    } 
        .st2{
            fill:#FFFFFF;
        }
}
.container{
    max-width: calc(100% - 2vw);
}
@media (max-width: 992px){
    .dishes-list{
        .dish-list-grid{
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
@media (max-width: 768px){
    .dishes-list{
        .dish-list-grid{
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .restaurant-list-front{
        .restaurant-list{
            padding: 0;
            .restaurant-list-grid.headings{
                display:none;
            }
            .restaurant-list-grid{
                padding: 10px;
                grid-template-columns: 1fr 1fr;
                gap: 8px 0;
                &:not(.headings){
                    grid-template-rows: none;
                }
                li:last-child, li:first-child, li:nth-child(4){
                    grid-column: 1 / span 2;
                }
                li:last-child{
                    justify-self: end;
                }
                li:first-child{
                    justify-self: center;
                    font-size: 27px;
                    font-weight: 600;
                }
            }
        }
    }
    .sort-filter-search{
        .sort-filter{
           flex-direction: column;
           row-gap: 5px;
           div:not(:last-child){
            width:100%;
            display:grid;
            grid-template-columns: repeat(2, 1fr);
           }
           div:last-child{
            display:flex;
            justify-content: center;
           }
        }
    }
    .order{
        // .order-card-header{ 
        //     flex-direction: column-reverse;
        //     gap: 5px;
        //     .middle{
        //         order:3;
        //     }
        // }
    }
}
@media (max-width: 576px){
    .dishes-list{
        .dish-list-grid{
            grid-template-columns: 1fr;
        }
    }
    .restaurant-list-front{
        .card{
            padding: 0;
            .card-body{
                padding: inherit 0;
            }
        }
        .restaurant-list{
            padding: 0;
        }
    }
}
